# IDE files
.vscode
.idea/

# Large files excluded
etl/extract_from_db/explorer_db.xml

# Python cache files
etl/__pycache__/
__pycache__/

# Virtual env
venv/

# Sensitive Config files
etl/db/config.yaml
etl/db/test_config.yaml

# Log files
tests/etl/db/explorer.log

# Coverage files and reports
.coverage
tests/.coverage
report/
htmlcov/
