{% extends "layout.html" %}
{% set active_page = "run_scripts" %}
{% block content %}
<!-- Content -->
<div class="row">
  <div class="col-sm-12">
    <form>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col">
          <button type="button" class="btn btn-dark btn-lg rn">Fill Genre</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-dark btn-lg rn">Fill Location</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-dark btn-lg rn">Fill Text</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-dark btn-lg rn">Fill Year</button>
        </div>
      </div>
    </form>
    <br><br>
    <form>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col">
          <button type="button" class="btn btn-dark btn-lg rn">Search</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-dark btn-lg rn">Spyder</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-dark btn-lg rn">SP Rank</button>
        </div>
      </div>
    </form>
    <br><br>
    <form>
      <div class="row">
        <!--<div class="col-sm-1"></div>-->
        <div class="col">
          <textarea type="text" class="form-control" placeholder="Output" name="output" rows="13"
            style="resize: none; padding: 15px;" readonly></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}