{% extends 'layout.html'%}
{% set active_page = "view_data" %}
{% block content%}
<!-- Content -->
<div class="row">

  <div class="col-sm-12">

    <form>
      <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-sm-4">
          <select class="form-control form-control-lg bg-dark text-white" id="d1">
            <option>Table Names</option>
            <option>activity_log</option>
            <option>event</option>
            <option>event_samples</option>
            <option>flag_log</option>
            <option>genre</option>
            <option>links</option>
            <option>role</option>
            <option>user</option>
            <option>webs</option>
          </select>
        </div>

        <div class="col-sm-4">
          <select class="form-control form-control-lg bg-dark text-white" id="d2">
            <option>Sort by Attribte</option>
            <option>a</option>
            <option>b</option>
            <option>c</option>
          </select>
        </div>

        <div class="col-sm-3">
          <button type="button" class="btn btn-dark btn-lg rn">Fetch</button>
        </div>

      </div>
    </form>
    <br>

    <form>
      <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-sm-10">
          <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </form>
  </div>
</div>
{% endblock content%}