{% extends "layout.html" %}
{% set active_page = "annotate" %}
{% set title  = "The Explorer - Annotate" %}
{% block content %}
<!-- Content -->
<div class="row">
	<div class="col-sm-6">
		<div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col">
					<input type="text" class="form-control box" placeholder="Event Title" name="event_title"
						id="event_title" value="" readonly>
				</div>
				<div class="col">
					<input type="text" class="form-control box" placeholder="Event Key" name="event_key" id="event_key">
				</div>
			</div>
		</div>
		<br>
		<div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col">
					<input type="text" class="form-control box" placeholder="Event URL" name="event_url" id="event_url"
						readonly>
				</div>
			</div>
		</div>
		<br>
		<div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col">
					<textarea type="text" class="form-control box" placeholder="Event Text" name="event_text"
						id="event_text" rows=" 13" style="resize: none;" readonly></textarea>
				</div>
			</div>
		</div>
		<br>
		<div>
			<div class="row">
				<div class="col">
					<center>
						<button type="submit" id="prev" class="btn btn-lg pn"
							onclick="return fetch('prev');">Previous</button>
						<button type="submit" id="next" class="btn btn-lg pn"
							onclick="return fetch('next');">Next</button>
					</center>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col">
					<button type="button" onclick="annot(this)" class="btn btn-lg gn">Art</button>
				</div>
				<div class="col">
					<button type="button" onclick="annot(this)" class="btn btn-lg gn">Biology</button>
				</div>
			</div>
		</div>
		<br>
		<div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col">
					<button type="button" onclick="annot(this)" class="btn btn-lg gn">Computer Science</button>
				</div>
				<div class="col">
					<button type="button" onclick="annot(this)" class="btn btn-lg gn">Education</button>
				</div>
			</div>
		</div>
		<br>
		<div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col">
					<button type="button" onclick="annot(this)" class="btn btn-lg gn">Health</button>
				</div>
				<div class="col">
					<button type="button" onclick="annot(this)" class="btn btn-lg gn">Literature</button>
				</div>
			</div>
			</fiv>
			<br>
			<div>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col">
						<button type="button" onclick="annot(this)" class="btn btn-lg gn">Politics</button>
					</div>
					<div class="col">
						<button type="button" onclick="annot(this)" class="btn btn-lg gn">Religion</button>
					</div>
				</div>
			</div>
			<br>
			<div>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col">
						<button type="button" onclick="annot(this)" class="btn btn-lg gn">Sports</button>
					</div>
					<div class="col">
						<button type="button" onclick="annot(this)" class="btn btn-lg gn">None</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock content %}