body
{
	overflow: hidden;
	font-family: 'Marmelad';
	background-color: white;
}
#header.navbar
{
	font-family: 'Quando';
	color: #f6f6e9;
	background-color: #194769;
	display: block;
}
#header_text p
{
	margin-left: 475px;
	font-size: 50px;
	margin-top: 10px
}
#header_desc p
{
	font-size: 20px;
	margin-left: 350px;
}
#footer.navbar
{
	font-family: 'Quando';
	color: #f6f6e9;
	font-size: 15px;
	background-color: #194769;
	padding: 10px;
}

#mainrow>div{
	position: relative;
	overflow: hidden;
	padding:10px;
	height: 250px;
	text-align: center;
	cursor: pointer;
	top: 245px;
}

#mainrow>div>figure{
	height:100%;
	background-color: #f2855e;
	border-radius: 25px;
}

#mainrow figure img {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}

#mainrow figure figcaption {
	padding: 10px;
	color: #f6f6e9;
	font-size: 30px;
	font-weight: 500;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#mainrow figure figcaption::before,
#mainrow figure figcaption::after {
	pointer-events: none;
}

#mainrow figure figcaption,
#mainrow figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#mainrow figure figcaption > a {
	
	text-indent: 100%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

#mainrow figure h2 {

	font-weight: 200;
	letter-spacing: 1px;
	font-size: 30px;
}

#mainrow figure h2,
#mainrow figure p {
	margin: 0;
}

#mainrow figure p {
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 20px;
}


figure.effect-marley figcaption {
	text-align: center;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 5px;
}


figure.effect-marley p {
	top: 80px;
	padding: 20px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 20px;
	padding: 10px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	padding: 2px;
	width: 100%;
	height: 4px;
	background: #f6f6e9;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
